<h1>Welcome <%= @user.email_address %> to ExpenseTracker</h1>

<p>
  Thank your from ExpenseTracer team in choosing our product.
  <div>
    Please <%=link_to "get started", @category_path %> by creating different expense categories and adding expenses to them !!!!!!
  </div>
</p>