<p>
  Thank your <%= @user.email_address %> for choosing ExpenseTracer.
  <div>
    Please <%=link_to "get started", @category_path %> by creating different expense categories and adding expenses to them !!!!!!
  </div>
</p>