<% content_for :title, "Categories" %>

<%= render 'layouts/notice' %>

<div class="categories-container">
  <div class="p-4 bg-gray-50 border-b">
    <h2 class="text-xl font-semibold">Category Hierarchy</h2>
  </div>

  <%= render partial: 'category_tree', locals: { categories: @root_categories } %>
</div>


