<div class="flex bg-white shadow-sm pt-2 pb-2" id="navigation-container">
  <div class="px-4">
    <% resource = controller_name.singularize %>
    <% is_new_action = action_name=="new" %>

    <% unless is_new_action %>
      <%= link_to send("new_#{resource}_path"), class: "bg-green-600 text-white rounded-lg hover:bg-green-700 px-2 py-2 flex items-center" do %>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 inline-block mr-1" fill="none" viewBox="0 0 24 24" stroke="currentColor" >
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4" />
        </svg>
        <span class="hidden sm:inline">Add <%= resource.capitalize %></span>
        <span class="sm:hidden">Add</span>
      <% end %>
    <% end %>
  </div>

  <div class="flex-grow flex justify-start space-x-4 px-2">
    <%= link_to expenses_path, class: "#{controller_name == 'expenses' ? 'bg-blue-700' : 'bg-blue-400'} flex-1 text-center text-white rounded-lg hover:bg-blue-700 px-4 py-2" do %>
      Expenses
    <% end %>

    <%= link_to categories_path, class: "#{controller_name == 'categories' ? 'bg-blue-700' : 'bg-blue-400'} flex-1  text-center text-white rounded-lg hover:bg-blue-700 px-4 py-2" do %>
      Categories
    <% end %>
  </div>


  <div class="px-2 mr-2 z-50">
    <button id="hamburgerButton" class="text-gray-600 hover:text-gray-900 focus:outline-none border-red-400 py-2">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 inline-block mr-1" fill="none" viewBox="0 0 24 24" stroke="currentColor" >
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
      </svg>
    </button>
  </div>
</div>

<div id="sidePanel" class="max-w-[40vw] md:w-64 bg-gray-100 h-full pb-4 pl-1 right-0 top-0 absolute z-10 hidden">
  <div class="bg-white h-full">
    <div class="py-6">
      <h2 class="text-2xl font-bold mb-6 px-6">Menu</h2>
      <ul class="">
        <li class="px-6 py-2 hover:bg-gray-100" ><a href="#" >Home</a></li>
        <li class="px-6 py-2 hover:bg-gray-100"><a href="#" >About</a></li>
      </ul>
    </div>
  </div>
</div>