<!--Expected Variables: validation_errors-->

<div class="bg-red-50 border-l-4 border-red-400 p-2 mb-4">
  <ul class="text-red-700">
    <% validation_errors.each do |error| %>
      <li class="py-1 px-2 text-red-500 font-medium">
        <%= error.full_message %>
      </li>
    <% end %>
  </ul>
</div>